.button {
    color: #ffffff;
    padding: 0;
    background: transparent;
    border: none;
}

.menu .menu-bin .menu-box .widget-scroll {
    padding: 0;
    margin: 0;
}

.widget {
    max-height: 450px;
    min-height: 50px;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
